{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Pi Switch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}" >
    
    
    <!-- Bootstrap -->
    <link href="{% static "assets/css/sticky.css" %}" rel="stylesheet">
    <link href="{% static "assets/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen" >
  </head>
  <body>
    <div id="wrap">
      <div class="container">

        <header class="row">
          <div class="span12">
            <nav class="navbar">
              <div class="navbar-inner">
                <a href="/articles/all" class="brand">PI Switch</a>
                <ul class="nav">
                 
                  
                  <li><a href="/articles/all">Home</a></li>
                  
                  <li><a href="/articles/about">About</a></li>
                  
                  <li><a href="/accounts/login">Login</a></li>

                  <li><a href="/articles/contact">Contact Me</a></li>
                  
                  <li><a href="/accounts/logout">Logout</a></li>   
              
                </ul>
              </div>
            </nav>
          </div>
        </header>
        
    <div class="container-narrow" id="content">
        {% block content %}This is the content area{% endblock %}
  </div>
</div>
</div>

    <div id="footer">
      <div class="container"><h5>© Ben Johnson 2013 </h5>
      </div> 

 

  <!img src="{% static "assets/images/python-logo.jpg" %}" width="50"/>
    
  </div>
    <script src="{% static "http://code.jquery.com/jquery.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>